@import "tailwindcss";

@font-face {
  font-family: Satoshi-normal;
  src: url("/assets/fonts/Satoshi-Regular.otf");
}

@font-face {
  font-family: Satoshi-medium;
  src: url("/assets/fonts/Satoshi-Medium.otf");
}

@font-face {
  font-family: Satoshi-bold;
  src: url("/assets/fonts/Satoshi-Bold.otf");
}

@font-face {
  font-family: integral-cf;
  src: url("/assets/fonts/Fontspring-integralcf-bold.otf");
}

body {
  font-family: "Satoshi-normal", sans-serif;
}

@theme inline {
  --font-integral-cf: "integral-cf", sans-serif;
  --font-satoshi-bold: "Satoshi-bold", sans-serif;
  --font-satoshi-medium: "Satoshi-medium", sans-serif;
}

@theme {
  --text-custom-3xl: 32px;
  --text-custom-4xl: 40px;
  --text-custom-6xl: 64px;
}

@theme {
  --color-light-gray: #F0F0F0;
  --color-off-white: #F2F0F1;
  --color-dark-gray: #F0EEED;
  --color-gray: #666666;
  --color-bold-gray: #999999;
  --color-red: #FF3333;
  --color-dark-brown: #4F4631;
  --color-dark-green: #314F4A;
  --color-dark-blue: #31344F;
}

.about-bg {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, rgba(240, 240, 240, 1) 50%);
}

.footer-icon:hover svg {
  fill: white !important;
}

button{
  cursor: pointer;
}